/* Common */
.p-color {
  color: #707070;
}
.title {
  font-size: 40px;
  font-weight: bold;
}
/* Navbar section */
.navbar {
  background-color: #fafafa;
  display: flex;
  margin: 0 80px;
  margin-bottom: 80px;
}
.nav-title {
  padding-top: 100px;
  text-align: start;
}

.nav-btn {
  background-color: #ff5959;
  color: #ffffff;
  width: 130px;
  height: 40px;
  font-size: 16px;
  font-weight: 400;
  border: 1px solid #ff5959;
  border-radius: 5px;
}
.nav-btn:hover {
  background-color: rgb(205, 205, 239);
}
.nav-icon {
  width: 130px;
  height: 28px;
}

.nav-btn-icon {
  display: flex;
  gap: 10px;
  text-align: center;
}
.nav-img {
  background: url(./images/Ellipse\ 257.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.nav-img img {
  width: 400px;
  height: 450px;
}
/* Donate Section */
.donate {
  text-align: center;
  align-content: center;
  margin: 0 110px;
}
.amount {
  font-size: 25px;
  font-weight: bold;
  display: flex;
  gap: 20px;

  justify-content: space-evenly;
}
.money {
  width: 120px;
  height: 100px;
  background-color: #fdf6f6;
  text-align: center;
  align-content: center;
  margin-top: 30px;
  margin-bottom: 50px;
}
.money:hover {
  background-color: rgb(205, 205, 239);
}
.money-2 {
  color: #ff5959;
  border: 1px solid #ff5959;
  background-color: #ffeeee;
}

.donate-now span {
  color: #b3b3b3;
  margin-bottom: 0px;
}
.donate-now p {
  color: #dadada;
}

/* Donate Plan section */
.donate-plan {
  text-align: center;
  margin: 100px 50px;
}

.plan-title p {
  margin-bottom: 50px;
}
.plan-card {
  display: flex;
  gap: 20px;
  text-align: start;
  justify-content: space-evenly;
}
.p-card {
  width: 300px;
  height: 220px;
  border-radius: 5px;
  padding: 20px 20px;
}
.p-card span {
  font-size: 20px;
  font-weight: bold;
}
.p-card p {
  font-size: 16px;
}
.p-card img {
  width: 35px;
  height: 30px;
}
.p-card:hover {
  background-color: rgb(205, 205, 239);
}
.c-1 {
  background-color: rgba(79, 157, 166, 0.1);
}
.c-2 {
  background-color: rgba(255, 89, 89, 0.1);
}
.c-3 {
  background-color: rgba(255, 244, 214, 1);
}
/* Donation */
.donation {
  display: flex;
  gap: 30px;
  margin: 10px 50px;
}
.donation-title {
  padding-top: 70px;
  align-items: center;
}
.donation-btn {
  width: 200px;
}
.donation-img {
  width: 450px;
  height: 300px;
}
